### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Creates the variables for the school summary and displays them in a dataframe.  

total_schools = len(school_data_complete["school_name"].unique()) 
total_students = len(school_data_complete["Student ID"].unique())
total_budget = sum(school_data_complete["budget"].unique())
avg_math = school_data_complete["math_score"].mean()
avg_reading = school_data_complete["reading_score"].mean()

math_pass = school_data_complete['math_score'].loc[school_data_complete['math_score'] >= 70].count()
math_pass_per = math_pass / total_students * 100

read_pass = school_data_complete['reading_score'].loc[school_data_complete['reading_score'] >= 70].count()
read_pass_per = read_pass / total_students * 100

both_pass = school_data_complete.loc[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
both_pass_per = int(both_pass) / total_students * 100

district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                    "Total Students": [total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score": [avg_math],
                                    "Average Reading Score": [avg_reading],
                                    "% Passing Math": [math_pass_per],
                                    "% Passing Reading": [read_pass_per],
                                    "% Overall Passing": [both_pass_per]})

#Using .map to format the text in the dataframe for reading ease
#district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
#district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}%".format)
#district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}%".format)
#district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
#district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
#district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#Builds each school an individual dataframe with the same method as above, for a total of 15

Bailey_df = school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School", :]
Bailey_df = Bailey_df.reset_index()
Bailey_sch_type = Bailey_df.loc[0, "type"]
Bailey_total_students = Bailey_df["Student ID"].count()
Bailey_budget = int(Bailey_df["budget"].unique())
Bailey_budget_stu = Bailey_budget / Bailey_total_students
Bailey_avg_math = Bailey_df["math_score"].mean()
Bailey_avg_read = Bailey_df["reading_score"].mean()

Bailey_math_pass = Bailey_df['math_score'].loc[Bailey_df['math_score'] >= 70].count()
Bailey_math_pass_per = Bailey_math_pass / Bailey_total_students * 100

Bailey_read_pass = Bailey_df['reading_score'].loc[Bailey_df['reading_score'] >= 70].count()
Bailey_read_pass_per = Bailey_read_pass / Bailey_total_students * 100

Bailey_both_pass = Bailey_df.loc[(Bailey_df['reading_score'] >= 70) & (Bailey_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Bailey_both_pass_per = int(Bailey_both_pass) / Bailey_total_students * 100

Bailey_df_cleaned = pd.DataFrame({"school": "Bailey High School",
                         "School Type": [Bailey_sch_type],
                         "Total Students": [Bailey_total_students],
                         "Total School Budget": [Bailey_budget],
                         "Per Student Budget": [Bailey_budget_stu],
                         "Average Math Score": [Bailey_avg_math],        
                         "Average Reading Score": [Bailey_avg_read],
                         "% Passing Math": [Bailey_math_pass_per],
                         "% Passing Reading": [Bailey_read_pass_per],
                         "% Overall Passing": [Bailey_both_pass_per]})


Cabrera_df = school_data_complete.loc[school_data_complete["school_name"] == "Cabrera High School", :]
Cabrera_df = Cabrera_df.reset_index()
Cabrera_sch_type = Cabrera_df.loc[0, 'type']
Cabrera_total_students = Cabrera_df["Student ID"].count()
Cabrera_budget = int(Cabrera_df["budget"].unique())
Cabrera_budget_stu = Cabrera_budget / Cabrera_total_students
Cabrera_avg_math = Cabrera_df["math_score"].mean()
Cabrera_avg_read = Cabrera_df["reading_score"].mean()

Cabrera_math_pass = Cabrera_df['math_score'].loc[Cabrera_df['math_score'] >= 70].count()
Cabrera_math_pass_per = Cabrera_math_pass / Cabrera_total_students * 100

Cabrera_read_pass = Cabrera_df['reading_score'].loc[Cabrera_df['reading_score'] >= 70].count()
Cabrera_read_pass_per = Cabrera_read_pass / Cabrera_total_students * 100

Cabrera_both_pass = Cabrera_df.loc[(Cabrera_df['reading_score'] >= 70) & (Cabrera_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Cabrera_both_pass_per = int(Cabrera_both_pass) / Cabrera_total_students * 100

Cabrera_df_cleaned = pd.DataFrame({"school": "Cabrera High School",
                         "School Type": [Cabrera_sch_type],
                         "Total Students": [Cabrera_total_students],
                         "Total School Budget": [Cabrera_budget],
                         "Per Student Budget": [Cabrera_budget_stu],
                         "Average Math Score": [Cabrera_avg_math],        
                         "Average Reading Score": [Cabrera_avg_read],
                         "% Passing Math": [Cabrera_math_pass_per],
                         "% Passing Reading": [Cabrera_read_pass_per],
                         "% Overall Passing": [Cabrera_both_pass_per]})



Figueroa_df = school_data_complete.loc[school_data_complete["school_name"] == "Figueroa High School", :]
Figueroa_df = Figueroa_df.reset_index()
Figueroa_sch_type = Figueroa_df.loc[0, 'type']
Figueroa_total_students = Figueroa_df["Student ID"].count()
Figueroa_budget = int(Figueroa_df["budget"].unique())
Figueroa_budget_stu = Figueroa_budget / Figueroa_total_students
Figueroa_avg_math = Figueroa_df["math_score"].mean()
Figueroa_avg_read = Figueroa_df["reading_score"].mean()

Figueroa_math_pass = Figueroa_df['math_score'].loc[Figueroa_df['math_score'] >= 70].count()
Figueroa_math_pass_per = Figueroa_math_pass / Figueroa_total_students * 100

Figueroa_read_pass = Figueroa_df['reading_score'].loc[Figueroa_df['reading_score'] >= 70].count()
Figueroa_read_pass_per = Figueroa_read_pass / Figueroa_total_students * 100

Figueroa_both_pass = Figueroa_df.loc[(Figueroa_df['reading_score'] >= 70) & (Figueroa_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Figueroa_both_pass_per = int(Figueroa_both_pass) / Figueroa_total_students * 100

Figueroa_df_cleaned = pd.DataFrame({"school": "Figueroa High School",
                         "School Type": [Figueroa_sch_type],
                         "Total Students": [Figueroa_total_students],
                         "Total School Budget": [Figueroa_budget],
                         "Per Student Budget": [Figueroa_budget_stu],
                         "Average Math Score": [Figueroa_avg_math],        
                         "Average Reading Score": [Figueroa_avg_read],
                         "% Passing Math": [Figueroa_math_pass_per],
                         "% Passing Reading": [Figueroa_read_pass_per],
                         "% Overall Passing": [Figueroa_both_pass_per]})



Ford_df = school_data_complete.loc[school_data_complete["school_name"] == "Ford High School", :]
Ford_df = Ford_df.reset_index()
Ford_sch_type = Ford_df.loc[0, 'type']
Ford_total_students = Ford_df["Student ID"].count()
Ford_budget = int(Ford_df["budget"].unique())
Ford_budget_stu = Ford_budget / Ford_total_students
Ford_avg_math = Ford_df["math_score"].mean()
Ford_avg_read = Ford_df["reading_score"].mean()

Ford_math_pass = Ford_df['math_score'].loc[Ford_df['math_score'] >= 70].count()
Ford_math_pass_per = Ford_math_pass / Ford_total_students * 100

Ford_read_pass = Ford_df['reading_score'].loc[Ford_df['reading_score'] >= 70].count()
Ford_read_pass_per = Ford_read_pass / Ford_total_students * 100

Ford_both_pass = Ford_df.loc[(Ford_df['reading_score'] >= 70) & (Ford_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Ford_both_pass_per = int(Ford_both_pass) / Ford_total_students * 100

Ford_df_cleaned = pd.DataFrame({"school": "Ford High School",
                         "School Type": [Ford_sch_type],
                         "Total Students": [Ford_total_students],
                         "Total School Budget": [Ford_budget],
                         "Per Student Budget": [Ford_budget_stu],
                         "Average Math Score": [Ford_avg_math],        
                         "Average Reading Score": [Ford_avg_read],
                         "% Passing Math": [Ford_math_pass_per],
                         "% Passing Reading": [Ford_read_pass_per],
                         "% Overall Passing": [Ford_both_pass_per]})



Griffin_df = school_data_complete.loc[school_data_complete["school_name"] == "Griffin High School", :]
Griffin_df = Griffin_df.reset_index()
Griffin_sch_type = Griffin_df.loc[0, 'type']
Griffin_total_students = Griffin_df["Student ID"].count()
Griffin_budget = int(Griffin_df["budget"].unique())
Griffin_budget_stu = Griffin_budget / Griffin_total_students
Griffin_avg_math = Griffin_df["math_score"].mean()
Griffin_avg_read = Griffin_df["reading_score"].mean()

Griffin_math_pass = Griffin_df['math_score'].loc[Griffin_df['math_score'] >= 70].count()
Griffin_math_pass_per = Griffin_math_pass / Griffin_total_students * 100

Griffin_read_pass = Griffin_df['reading_score'].loc[Griffin_df['reading_score'] >= 70].count()
Griffin_read_pass_per = Griffin_read_pass / Griffin_total_students * 100

Griffin_both_pass = Griffin_df.loc[(Griffin_df['reading_score'] >= 70) & (Griffin_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Griffin_both_pass_per = int(Griffin_both_pass) / Griffin_total_students * 100

Griffin_df_cleaned = pd.DataFrame({"school": "Griffin High School",
                         "School Type": [Griffin_sch_type],
                         "Total Students": [Griffin_total_students],
                         "Total School Budget": [Griffin_budget],
                         "Per Student Budget": [Griffin_budget_stu],
                         "Average Math Score": [Griffin_avg_math],        
                         "Average Reading Score": [Griffin_avg_read],
                         "% Passing Math": [Griffin_math_pass_per],
                         "% Passing Reading": [Griffin_read_pass_per],
                         "% Overall Passing": [Griffin_both_pass_per]})



Hernandez_df = school_data_complete.loc[school_data_complete["school_name"] == "Hernandez High School", :]
Hernandez_df = Hernandez_df.reset_index()
Hernandez_sch_type = Hernandez_df.loc[0, 'type']
Hernandez_total_students = Hernandez_df["Student ID"].count()
Hernandez_budget = int(Hernandez_df["budget"].unique())
Hernandez_budget_stu = Hernandez_budget / Hernandez_total_students
Hernandez_avg_math = Hernandez_df["math_score"].mean()
Hernandez_avg_read = Hernandez_df["reading_score"].mean()

Hernandez_math_pass = Hernandez_df['math_score'].loc[Hernandez_df['math_score'] >= 70].count()
Hernandez_math_pass_per = Hernandez_math_pass / Hernandez_total_students * 100

Hernandez_read_pass = Hernandez_df['reading_score'].loc[Hernandez_df['reading_score'] >= 70].count()
Hernandez_read_pass_per = Hernandez_read_pass / Hernandez_total_students * 100

Hernandez_both_pass = Hernandez_df.loc[(Hernandez_df['reading_score'] >= 70) & (Hernandez_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Hernandez_both_pass_per = int(Hernandez_both_pass) / Hernandez_total_students * 100

Hernandez_df_cleaned = pd.DataFrame({"school": "Hernandez High School",
                         "School Type": [Hernandez_sch_type],
                         "Total Students": [Hernandez_total_students],
                         "Total School Budget": [Hernandez_budget],
                         "Per Student Budget": [Hernandez_budget_stu],
                         "Average Math Score": [Hernandez_avg_math],        
                         "Average Reading Score": [Hernandez_avg_read],
                         "% Passing Math": [Hernandez_math_pass_per],
                         "% Passing Reading": [Hernandez_read_pass_per],
                         "% Overall Passing": [Hernandez_both_pass_per]})



Holden_df = school_data_complete.loc[school_data_complete["school_name"] == "Holden High School", :]
Holden_df = Holden_df.reset_index()
Holden_sch_type = Holden_df.loc[0, 'type']
Holden_total_students = Holden_df["Student ID"].count()
Holden_budget = int(Holden_df["budget"].unique())
Holden_budget_stu = Holden_budget / Holden_total_students
Holden_avg_math = Holden_df["math_score"].mean()
Holden_avg_read = Holden_df["reading_score"].mean()

Holden_math_pass = Holden_df['math_score'].loc[Holden_df['math_score'] >= 70].count()
Holden_math_pass_per = Holden_math_pass / Holden_total_students * 100

Holden_read_pass = Holden_df['reading_score'].loc[Holden_df['reading_score'] >= 70].count()
Holden_read_pass_per = Holden_read_pass / Holden_total_students * 100

Holden_both_pass = Holden_df.loc[(Holden_df['reading_score'] >= 70) & (Holden_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Holden_both_pass_per = int(Holden_both_pass) / Holden_total_students * 100

Holden_df_cleaned = pd.DataFrame({"school": "Holden High School",
                         "School Type": [Holden_sch_type],
                         "Total Students": [Holden_total_students],
                         "Total School Budget": [Holden_budget],
                         "Per Student Budget": [Holden_budget_stu],
                         "Average Math Score": [Holden_avg_math],        
                         "Average Reading Score": [Holden_avg_read],
                         "% Passing Math": [Holden_math_pass_per],
                         "% Passing Reading": [Holden_read_pass_per],
                         "% Overall Passing": [Holden_both_pass_per]})



Huang_df = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School", :]
Huang_df = Huang_df.reset_index()
Huang_sch_type = Huang_df.loc[0, 'type']
Huang_total_students = Huang_df["Student ID"].count()
Huang_budget = int(Huang_df["budget"].unique())
Huang_budget_stu = Huang_budget / Huang_total_students
Huang_avg_math = Huang_df["math_score"].mean()
Huang_avg_read = Huang_df["reading_score"].mean()

Huang_math_pass = Huang_df['math_score'].loc[Huang_df['math_score'] >= 70].count()
Huang_math_pass_per = Huang_math_pass / Huang_total_students * 100

Huang_read_pass = Huang_df['reading_score'].loc[Huang_df['reading_score'] >= 70].count()
Huang_read_pass_per = Huang_read_pass / Huang_total_students * 100

Huang_both_pass = Huang_df.loc[(Huang_df['reading_score'] >= 70) & (Huang_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Huang_both_pass_per = int(Huang_both_pass) / Huang_total_students * 100

Huang_df_cleaned = pd.DataFrame({"school": "Huang High School",
                         "School Type": [Huang_sch_type],
                         "Total Students": [Huang_total_students],
                         "Total School Budget": [Huang_budget],
                         "Per Student Budget": [Huang_budget_stu],
                         "Average Math Score": [Huang_avg_math],        
                         "Average Reading Score": [Huang_avg_read],
                         "% Passing Math": [Huang_math_pass_per],
                         "% Passing Reading": [Huang_read_pass_per],
                         "% Overall Passing": [Huang_both_pass_per]})



Johnson_df = school_data_complete.loc[school_data_complete["school_name"] == "Johnson High School", :]
Johnson_df = Johnson_df.reset_index()
Johnson_sch_type = Johnson_df.loc[0, 'type']
Johnson_total_students = Johnson_df["Student ID"].count()
Johnson_budget = int(Johnson_df["budget"].unique())
Johnson_budget_stu = Johnson_budget / Johnson_total_students
Johnson_avg_math = Johnson_df["math_score"].mean()
Johnson_avg_read = Johnson_df["reading_score"].mean()

Johnson_math_pass = Johnson_df['math_score'].loc[Johnson_df['math_score'] >= 70].count()
Johnson_math_pass_per = Johnson_math_pass / Johnson_total_students * 100

Johnson_read_pass = Johnson_df['reading_score'].loc[Johnson_df['reading_score'] >= 70].count()
Johnson_read_pass_per = Johnson_read_pass / Johnson_total_students * 100

Johnson_both_pass = Johnson_df.loc[(Johnson_df['reading_score'] >= 70) & (Johnson_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Johnson_both_pass_per = int(Johnson_both_pass) / Johnson_total_students * 100

Johnson_df_cleaned = pd.DataFrame({"school": "Johnson High School",
                         "School Type": [Johnson_sch_type],
                         "Total Students": [Johnson_total_students],
                         "Total School Budget": [Johnson_budget],
                         "Per Student Budget": [Johnson_budget_stu],
                         "Average Math Score": [Johnson_avg_math],        
                         "Average Reading Score": [Johnson_avg_read],
                         "% Passing Math": [Johnson_math_pass_per],
                         "% Passing Reading": [Johnson_read_pass_per],
                         "% Overall Passing": [Johnson_both_pass_per]})



Pena_df = school_data_complete.loc[school_data_complete["school_name"] == "Pena High School", :]
Pena_df = Pena_df.reset_index()
Pena_sch_type = Pena_df.loc[0, 'type']
Pena_total_students = Pena_df["Student ID"].count()
Pena_budget = int(Pena_df["budget"].unique())
Pena_budget_stu = Pena_budget / Pena_total_students
Pena_avg_math = Pena_df["math_score"].mean()
Pena_avg_read = Pena_df["reading_score"].mean()

Pena_math_pass = Pena_df['math_score'].loc[Pena_df['math_score'] >= 70].count()
Pena_math_pass_per = Pena_math_pass / Pena_total_students * 100

Pena_read_pass = Pena_df['reading_score'].loc[Pena_df['reading_score'] >= 70].count()
Pena_read_pass_per = Pena_read_pass / Pena_total_students * 100

Pena_both_pass = Pena_df.loc[(Pena_df['reading_score'] >= 70) & (Pena_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Pena_both_pass_per = int(Pena_both_pass) / Pena_total_students * 100

Pena_df_cleaned = pd.DataFrame({"school": "Pena High School",
                         "School Type": [Pena_sch_type],
                         "Total Students": [Pena_total_students],
                         "Total School Budget": [Pena_budget],
                         "Per Student Budget": [Pena_budget_stu],
                         "Average Math Score": [Pena_avg_math],        
                         "Average Reading Score": [Pena_avg_read],
                         "% Passing Math": [Pena_math_pass_per],
                         "% Passing Reading": [Pena_read_pass_per],
                         "% Overall Passing": [Pena_both_pass_per]})



Rodriguez_df = school_data_complete.loc[school_data_complete["school_name"] == "Rodriguez High School", :]
Rodriguez_df = Rodriguez_df.reset_index()
Rodriguez_sch_type = Rodriguez_df.loc[0, 'type']
Rodriguez_total_students = Rodriguez_df["Student ID"].count()
Rodriguez_budget = int(Rodriguez_df["budget"].unique())
Rodriguez_budget_stu = Rodriguez_budget / Rodriguez_total_students
Rodriguez_avg_math = Rodriguez_df["math_score"].mean()
Rodriguez_avg_read = Rodriguez_df["reading_score"].mean()

Rodriguez_math_pass = Rodriguez_df['math_score'].loc[Rodriguez_df['math_score'] >= 70].count()
Rodriguez_math_pass_per = Rodriguez_math_pass / Rodriguez_total_students * 100

Rodriguez_read_pass = Rodriguez_df['reading_score'].loc[Rodriguez_df['reading_score'] >= 70].count()
Rodriguez_read_pass_per = Rodriguez_read_pass / Rodriguez_total_students * 100

Rodriguez_both_pass = Rodriguez_df.loc[(Rodriguez_df['reading_score'] >= 70) & (Rodriguez_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Rodriguez_both_pass_per = int(Rodriguez_both_pass) / Rodriguez_total_students * 100

Rodriguez_df_cleaned = pd.DataFrame({"school": "Rodriguez High School",
                         "School Type": [Rodriguez_sch_type],
                         "Total Students": [Rodriguez_total_students],
                         "Total School Budget": [Rodriguez_budget],
                         "Per Student Budget": [Rodriguez_budget_stu],
                         "Average Math Score": [Rodriguez_avg_math],        
                         "Average Reading Score": [Rodriguez_avg_read],
                         "% Passing Math": [Rodriguez_math_pass_per],
                         "% Passing Reading": [Rodriguez_read_pass_per],
                         "% Overall Passing": [Rodriguez_both_pass_per]})



Shelton_df = school_data_complete.loc[school_data_complete["school_name"] == "Shelton High School", :]
Shelton_df = Shelton_df.reset_index()
Shelton_sch_type = Shelton_df.loc[0, 'type']
Shelton_total_students = Shelton_df["Student ID"].count()
Shelton_budget = int(Shelton_df["budget"].unique())
Shelton_budget_stu = Shelton_budget / Shelton_total_students
Shelton_avg_math = Shelton_df["math_score"].mean()
Shelton_avg_read = Shelton_df["reading_score"].mean()

Shelton_math_pass = Shelton_df['math_score'].loc[Shelton_df['math_score'] >= 70].count()
Shelton_math_pass_per = Shelton_math_pass / Shelton_total_students * 100

Shelton_read_pass = Shelton_df['reading_score'].loc[Shelton_df['reading_score'] >= 70].count()
Shelton_read_pass_per = Shelton_read_pass / Shelton_total_students * 100

Shelton_both_pass = Shelton_df.loc[(Shelton_df['reading_score'] >= 70) & (Shelton_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Shelton_both_pass_per = int(Shelton_both_pass) / Shelton_total_students * 100

Shelton_df_cleaned = pd.DataFrame({"school": "Shelton High School",
                         "School Type": [Shelton_sch_type],
                         "Total Students": [Shelton_total_students],
                         "Total School Budget": [Shelton_budget],
                         "Per Student Budget": [Shelton_budget_stu],
                         "Average Math Score": [Shelton_avg_math],        
                         "Average Reading Score": [Shelton_avg_read],
                         "% Passing Math": [Shelton_math_pass_per],
                         "% Passing Reading": [Shelton_read_pass_per],
                         "% Overall Passing": [Shelton_both_pass_per]})



Thomas_df = school_data_complete.loc[school_data_complete["school_name"] == "Thomas High School", :]
Thomas_df = Thomas_df.reset_index()
Thomas_sch_type = Thomas_df.loc[0, 'type']
Thomas_total_students = Thomas_df["Student ID"].count()
Thomas_budget = int(Thomas_df["budget"].unique())
Thomas_budget_stu = Thomas_budget / Thomas_total_students
Thomas_avg_math = Thomas_df["math_score"].mean()
Thomas_avg_read = Thomas_df["reading_score"].mean()

Thomas_math_pass = Thomas_df['math_score'].loc[Thomas_df['math_score'] >= 70].count()
Thomas_math_pass_per = Thomas_math_pass / Thomas_total_students * 100

Thomas_read_pass = Thomas_df['reading_score'].loc[Thomas_df['reading_score'] >= 70].count()
Thomas_read_pass_per = Thomas_read_pass / Thomas_total_students * 100

Thomas_both_pass = Thomas_df.loc[(Thomas_df['reading_score'] >= 70) & (Thomas_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Thomas_both_pass_per = int(Thomas_both_pass) / Thomas_total_students * 100

Thomas_df_cleaned = pd.DataFrame({"school": "Thomas High School",
                         "School Type": [Thomas_sch_type],
                         "Total Students": [Thomas_total_students],
                         "Total School Budget": [Thomas_budget],
                         "Per Student Budget": [Thomas_budget_stu],
                         "Average Math Score": [Thomas_avg_math],        
                         "Average Reading Score": [Thomas_avg_read],
                         "% Passing Math": [Thomas_math_pass_per],
                         "% Passing Reading": [Thomas_read_pass_per],
                         "% Overall Passing": [Thomas_both_pass_per]})



Wilson_df = school_data_complete.loc[school_data_complete["school_name"] == "Wilson High School", :]
Wilson_df = Wilson_df.reset_index()
Wilson_sch_type = Wilson_df.loc[0, 'type']
Wilson_total_students = Wilson_df["Student ID"].count()
Wilson_budget = int(Wilson_df["budget"].unique())
Wilson_budget_stu = Wilson_budget / Wilson_total_students
Wilson_avg_math = Wilson_df["math_score"].mean()
Wilson_avg_read = Wilson_df["reading_score"].mean()

Wilson_math_pass = Wilson_df['math_score'].loc[Wilson_df['math_score'] >= 70].count()
Wilson_math_pass_per = Wilson_math_pass / Wilson_total_students * 100

Wilson_read_pass = Wilson_df['reading_score'].loc[Wilson_df['reading_score'] >= 70].count()
Wilson_read_pass_per = Wilson_read_pass / Wilson_total_students * 100

Wilson_both_pass = Wilson_df.loc[(Wilson_df['reading_score'] >= 70) & (Wilson_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Wilson_both_pass_per = int(Wilson_both_pass) / Wilson_total_students * 100

Wilson_df_cleaned = pd.DataFrame({"school": "Wilson High School",
                         "School Type": [Wilson_sch_type],
                         "Total Students": [Wilson_total_students],
                         "Total School Budget": [Wilson_budget],
                         "Per Student Budget": [Wilson_budget_stu],
                         "Average Math Score": [Wilson_avg_math],        
                         "Average Reading Score": [Wilson_avg_read],
                         "% Passing Math": [Wilson_math_pass_per],
                         "% Passing Reading": [Wilson_read_pass_per],
                         "% Overall Passing": [Wilson_both_pass_per]})



Wright_df = school_data_complete.loc[school_data_complete["school_name"] == "Wright High School", :]
Wright_df = Wright_df.reset_index()
Wright_sch_type = Wright_df.loc[0, 'type']
Wright_total_students = Wright_df["Student ID"].count()
Wright_budget = int(Wright_df["budget"].unique())
Wright_budget_stu = Wright_budget / Wright_total_students
Wright_avg_math = Wright_df["math_score"].mean()
Wright_avg_read = Wright_df["reading_score"].mean()

Wright_math_pass = Wright_df['math_score'].loc[Wright_df['math_score'] >= 70].count()
Wright_math_pass_per = Wright_math_pass / Wright_total_students * 100

Wright_read_pass = Wright_df['reading_score'].loc[Wright_df['reading_score'] >= 70].count()
Wright_read_pass_per = Wright_read_pass / Wright_total_students * 100

Wright_both_pass = Wright_df.loc[(Wright_df['reading_score'] >= 70) & (Wright_df['math_score'] >= 70), ['reading_score', 'math_score']].count().unique()
Wright_both_pass_per = int(Wright_both_pass) / Wright_total_students * 100

Wright_df_cleaned = pd.DataFrame({"school": "Wright High School",
                         "School Type": [Wright_sch_type],
                         "Total Students": [Wright_total_students],
                         "Total School Budget": [Wright_budget],
                         "Per Student Budget": [Wright_budget_stu],
                         "Average Math Score": [Wright_avg_math],        
                         "Average Reading Score": [Wright_avg_read],
                         "% Passing Math": [Wright_math_pass_per],
                         "% Passing Reading": [Wright_read_pass_per],
                         "% Overall Passing": [Wright_both_pass_per]})


#Merging the 15 individual school data frames into one data frame containing all schools 

temp1 = pd.merge(Bailey_df_cleaned, Cabrera_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp2 = pd.merge(temp1, Figueroa_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp3 = pd.merge(temp2, Ford_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp4 = pd.merge(temp3, Griffin_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp5 = pd.merge(temp4, Hernandez_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp6 = pd.merge(temp5, Holden_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp7 = pd.merge(temp6, Huang_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp8 = pd.merge(temp7, Johnson_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp9 = pd.merge(temp8, Pena_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp10 = pd.merge(temp9, Rodriguez_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp11 = pd.merge(temp10, Shelton_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp12 = pd.merge(temp11, Thomas_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp13 = pd.merge(temp12, Wilson_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])
temp14 = pd.merge(temp13, Wright_df_cleaned, how='outer', on=["school", "School Type", "Total Students", 
                                                                         "Total School Budget", "Per Student Budget",
                                                                         "Average Math Score", "Average Reading Score",
                                                                         "% Passing Math", "% Passing Reading", 
                                                                         "% Overall Passing"])

#Sets the index to the school column and saves that as a final school summary DF
school_summary_df = temp14.set_index("school")

#Using .map to format the text in the dataframe for reading ease
#school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
#school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
#school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.2f}%".format)
#school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.2f}%".format)
#school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}%".format)
#school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}%".format)
#school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.2f}%".format)


school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
#Creates a new DF from school summary, sorted by school and filtered by the highest overall passing rate

ovr_pass_hilo_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
ovr_pass_hilo_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
#Creates a new DF from school summary, sorted by school and filtered by the lowest overall passing rate

ovr_pass_lohi_df = school_summary_df.sort_values("% Overall Passing")
ovr_pass_lohi_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Creates a list for each grade and fills it with the mean of each grades math scores, grouped by school, stores it in a DF
#And displays it

ninth_g = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_g = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_g = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelfth_g = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

math_grade_by_year_df = pd.DataFrame({"9th": ninth_g,
                                   "10th": tenth_g,
                                   "11th": eleventh_g,
                                   "12th": twelfth_g})
math_grade_by_year_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#Creates a list for each grade and fills it with the mean of each grades reading scores, grouped by school, stores it in a DF
#And displays it

ninth_g = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth_g = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh_g = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelfth_g = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

read_grade_by_year_df = pd.DataFrame({"9th": ninth_g,
                                   "10th": tenth_g,
                                   "11th": eleventh_g,
                                   "12th": twelfth_g})
read_grade_by_year_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
#Creates 4 bins which describe ranges of spending per student.  

bins = [0, 584, 629, 644, 680]
group_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

#Adds the bins and uses per student budget to populate each bin
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)

#Creates a DF grouped by the new bins showing the average scores and passing rates.  Deletes uneeded columns.
grouped_school_summary_df = school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()
del grouped_school_summary_df['Total Students']
del grouped_school_summary_df['Total School Budget']
del grouped_school_summary_df['Per Student Budget']
grouped_school_summary_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
#Creates 4 bins which describe student body sizes of the schools.  
bins = [0, 999, 1999, 5000]
group_labels = ["Small <(1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#Adds the bins and uses total students to populate each bin
school_summary_df["Student Body Size"] = pd.cut(school_summary_df["Total Students"], bins, labels=group_labels)

#Creates a DF grouped by the new bins showing the average scores and passing rates.  Deletes uneeded columns.
grouped_size_summary_df = school_summary_df.groupby(['Student Body Size']).mean()
del grouped_size_summary_df['Total Students']
del grouped_size_summary_df['Total School Budget']
del grouped_size_summary_df['Per Student Budget']
grouped_size_summary_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Student Body Size,,,,,
Small <(1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:
#Creates a new DF from the school summary by showing the average scores and passing rates grouped by school type. 
#Deletes uneeded columns.

school_type_grouped = school_summary_df.groupby("School Type").mean()
del school_type_grouped['Total Students']
del school_type_grouped['Total School Budget']
del school_type_grouped['Per Student Budget']
school_type_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208